body {
  background-color: black;

  header {
    color: yellow;
  }
  background: url("@img/prem-knight.png");
}

@media (max-width: 768px) {
  header {
    color: red;
  }
}

@media (max-width: 768px) {
  body {
    background-color: blue;
  }
}
